<% flash.each do |key, msg|%>
  <% if msg.present? %>
    <div class="alert <%= flash_alert_class(key) %> alert-dismissible fade show text-center" role="alert">
      <%== msg %>
    </div>
  <% end %>
<% end %>
