<% flash.each do |key, message|%>
  <% if message.present? %>
    <div class="alert <%= flash_alert_class(key) %> alert-dismissible fade show" role="alert">
      <%== message %>
    </div>
  <% end %>
<% end %>