<body class="bg-body-tertiary">
  <div class="container">
    <main>
      <div class="py-5 text-center">
        <h1 class="h2">商品作成</h1>
        <p class="lead">こちらで商品の作成ができます。</p>
      </div>
      <div class="row g-5 justify-content-center">
        <div class="col-md-8">
          <h4 class="mb-3">商品情報</h4>
          <%= form_with model: [:admin, @product], local: true do |f| %>
            <%= render 'shared/error_messages', model: f.object if f.object.errors.any? %>
            <%= render partial: 'admin/products/products_form', locals: {f: f} %>
          <% end %>
        </div>
      </div>
    </main>
  </div>
</body>
